[submodule "external/libhat"]
	path = external/libhat
	url = https://github.com/BasedInc/libhat/
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
